* {
    scrollbar-color: #454a4d #202324;
    --border-input-color: #ced4da;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0 15%;
    background-color: rgb(24, 26, 27);
    color: rgb(209, 205, 199);
}

.form-control {
    color: rgb(181, 175, 166);
    background-color: rgb(24, 26, 27);
    border-color: --border-input-color;
}

.input-group-text {
    color: rgb(181, 175, 166);
    background-color: rgb(35, 38, 39);
    border-color: --border-input-color;
    margin: 0 2px;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(24, 26, 27);
    border: 1px solid --border-input-color;
    border-radius: .25rem;
}

.custom-select {
    color: rgb(181, 175, 166);
    background-color: rgb(24, 26, 27);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    border-color: --border-input-color;
}

.btn-outline-success {
    color: rgb(97, 217, 124);
    background-color: transparent;
    background-image: none;
    border-color: rgb(37, 156, 64);
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form-control:focus, .custom-select:focus, .input-group-text:focus {
    background-color: rgb(24, 26, 27);
    border-color: 0;
    color: rgb(209, 205, 199);
    -webkit-transition: border-color 0.5s ease-out;
    -moz-transition: border-color 0.5s ease-out;
    -o-transition: border-color 0.5s ease-out;
    transition: border-color 0.5s ease-out;
}

input[type="number"]:disabled:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    -moz-box-shadow: inset 0 -1px 0 #ddd;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    outline: none;
}